:root {
	--color_theme: #e50914;
	--color_dark: #333;
	--color_black: #242424;
	--color_light: #bfbfbf;
	--color_p: #282828;
	--font_size: 18px;
	--container: 1170px;  
	--font_size: 18px;
	--container: 1170px;
}


xs = 480px;
sm = 768px;
md = 992px;
lg = 1200px;

max_xs = xs - 1;
max_sm = sm - 1;
max_md = md - 1;
max_lg = lg - 1;
