a, button {
	cursor: pointer;
}

a {
	color: var(--color_theme);
} 


.btn {
	color: var(--color_theme);
	display: inline-block;
	position: relative;
	border: 0;
	&-theme {
		background: var(--color_theme);
		color: #fff;
		padding: 10px;
	}

	&-light {
		background: var(--color_light);
		color: #fff;
		padding: 10px;
	}
	&-danger {
		background: #ff6363;
		color: #fff;
		padding: 10px;
	} 
	&-dark {
		background: var(--color_dark);
		color: #fff;
		padding: 10px;
	}
	&-icon {
		background: #e50914;
		border-radius: 50%;
		width: 45px;
		height: 45px;
		text-align: center;
	}

	&-block {
		width: 100%;
		display: block;
		text-align: center;
	}

	&-uppercase {
		text-transform: uppercase;
	}
	&-small {
		padding: 5px;
		font-size: 14px;
	}
	&-disabled {
		pointer-events: none
		background: #098fe5;
	}
}
