.search-section {
    background-image: url('/img/background.jpg');
}

.results-section {
    background: var(--color_p)
}

.card {
    margin-bottom: 20px;
    border: 1px solid #4f4f4f;
    padding: 20px;
    img {
        width: 100%;
    }
    p {
        color: #aaa;
    }
    h2 {
        color: #fff;
    }
    .descr {
        font-size: .8rem;
        font-weight: bolder;
        color: #141414;
    }
}
