.search-section {
    background-image: url('/img/background.jpg');
}

.results-section {
    background: var(--color_p)
}

.page-title {
    color: #fff;
    background: var(--color_dark);
    display: inline-block;
    padding: 0 10px;
    border-left: 3px solid var(--color_theme);
    font-weight: lighter;
}