
* {
	margin 0;
	padding 0
	box-sizing: border-box;
	font-style: normal;
	text-decoration: none;
	outline: none;
	list-style-type: none;
	font-synthesis: none;
  	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	font-family: 'Open Sans', sans-serif;
  
}


html, body {
	height: 100%;
	font-size: var(--font_size);
	background: var(--color_dark);
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}


.container	{
	max-width: var(--container);
	padding 0 15px;
	margin 0 auto
	position relative
}

p {
    font-size: 1rem;
    color: var(--color_p);
}
